.groups{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10%;
    justify-content: space-between;

    h2{
        text-align: center;
    }

    &__container{
        display: flex;
    }

    &__grupos__map{
        display: flex;
        flex: 1;
    }

    &__content{
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__card{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0.4rem;
        margin: 1rem 1rem;
        border: solid #f50025 0.1rem;

        p{
            margin: 0.2rem;
            font-size: 10px;
        }
    }

    &__details{
        width: 8rem;
        padding: 0.4rem 2rem;
        margin: 0.4rem;
        background-color: #f50025;
        color: #ffffff;
        border: none;
    }

    &__button{
        background-color: #ffffff;
        border: solid #f50025 0.1rem;
        color: #f50025;
        padding: 0rem 0.2rem;
        margin: 0.2rem 0.1rem;
    }
    
}
    